<%= render "home_page/navbar"%>

<div class="home_page">
	</br>
	<aside>
			<ul class="asside_nav">
				<li style="list-style: inherit">
					<a href="">HOME</a>
				</li>
				<li>
					<a href="">NBA</a>
				</li>
				<li>
					<a href="">NFL</a>
				</li>
				<li>
					<a href="">MLB</a>
				</li>
				<li>
					<a href="">NHL</a>
				</li>
				<li>
					<a href="">CBB</a>
				</li>
				<li>
					<a href="">CFB</a>
				</li>
				<li>
					<a href="">NASCAR</a>
				</li>
				<li>
					<a href="">GOLF</a>
				</li>
				<li>
					<a href="">SOCCER</a>
				</li>
				<li>
					<a href="">TEAM HUB</a>
				</li>
				<li>
					<a href="">LIFESTYLE</a>
				</li>
				<li>
					<a href="">DEALBOOK</a>
				</li>
				<li>
					<a href="">VIDEO</a>
				</li>
				<li>
					<a href="">MORE</a>
				</li>
			</ul>
			<div class="nav_follow">
				<p class="nav_p_follow">Follow</p>
				<div class="asside_nav_flex">
					<div class="asside_nav_img">
						<a href="">
							<%= image_tag("home/follow/facebook.png")%>
						</a>
					</div>
					<div class="asside_nav_img t_y_margin_left">
						<a href="">
							<%= image_tag("home/follow/twitter.png")%>
						</a>
					</div>
				</div>
				<div class="asside_nav_flex">
					<div class="asside_nav_img g_y_margin_top">
						<a href="">
							<%= image_tag("home/follow/google.png")%>
						</a>
					</div>
					<div class="asside_nav_img t_y_margin_left g_y_margin_top">
						<a href="">
							<%= image_tag("home/follow/youtube.png")%>
						</a>
					</div>
				</div>
			</div>
		</aside>
	<div class="main_block">
		<div class="main_article">
			<div class="main_img">
				<div class="btn_nba">
					<p>NBA</p>
				</div>
				<%= image_tag("home/main_article/main_1.png")%>
			</div>
			<div class="main_rectangle">
				<div class="text">
					<p class="top">
						Published / 20.09.2019
					</p>
					<p class="middle">
						London Games return in 2019
					</p>
					<p class="bottom">
						Register to receive the latest news on ticket sales for the four NFL London Games in 2019!
					</p>
				</div>
				<div class="button_main">
					<p>More</p>
				</div>
			</div>
		</div>
		</br>
		<div class="sub_article">
			<div class="sub1">
				<div class="sub_sum">
					<div class="sub_img_1">
						<%= image_tag("home/sub/sub_article_photo_1.jpg")%>
					</div>
					<div class="sub_text_1">
						<p class="sub_h">Raiders release</p>
						<p class="sub_txt">After a five-year stint with the Oakland Raiders</p>
					</div>
				</div>
			</div>
			<div class="sub2">
				<div class="sub_sum">
					<div class="sub_img_2">
						<%= image_tag("home/sub/sub_article_photo_2.jpg")%>
					</div>
					<div class="sub_text_1">
						<p class="sub_h">London Games</p>
						<p class="sub_txt">NFL London Games return in 2019!</p>
					</div>
				</div>
			</div>
			<div class="sub3">
				<div class="sub_sum">
					<div class="sub_img_3">
						<%= image_tag("home/sub/sub_article_photo_3.jpg")%>
					</div>
					<div class="sub_text_1">
						<p class="sub_h">2019</p>
						<p class="sub_txt">2019 NFL free agency</p>
					</div>
				</div>
			</div>
			<div class="sub4">
				<div class="sub_sum">
					<div class="sub_img_4">
						<%= image_tag("home/sub/sub_article_photo_4.jpg")%>
					</div>
					<div class="sub_text_1">
						<p class="sub_h">Lorem ipsum</p>
						<p class="sub_txt">Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
			</div>
		</div>
		<div class="break">
			<hr class="break_line">
			<div class="line">
				<p>Breakdown</p>
			</div>
			<div class="breakdown">
				<div class="breakdown_rect_1">
					<div class="rect_img_1">
						<div class="btn">
							<p>NBA</p>
						</div>
						<%= image_tag("home/breakdown/break_1.jpg")%>
					</div>
					<div class="rect_text_1">
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="breakdown_rect_2">
					<div class="rect_in_rect_1">
						<div class="rect_img_2">
							<%= image_tag("home/breakdown/break_2.jpg")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="rect_in_rect_1">
						<div class="rect_img_2">
							<%= image_tag("home/breakdown/break_3.png")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="rect_in_rect_1">
						<div class="rect_img_2">
							<%= image_tag("home/breakdown/break_4.png")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
				</div>
				<div class="breakdown_rect_3">
					<div class="rect_img_1">
						<div class="btn">
							<p>NBA</p>
						</div>
						<%= image_tag("home/breakdown/break_1.jpg")%>
					</div>
					<div class="rect_text_1">
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="breakdown_rect_4">
					<div class="rect_in_rect_1">
						<div class="rect_img_2">
							<%= image_tag("home/breakdown/break_2.jpg")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="rect_in_rect_1">
						<div class="rect_img_2">
							<%= image_tag("home/breakdown/break_3.png")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="rect_in_rect_1">
						<div class="rect_img_2">
							<%= image_tag("home/breakdown/break_4.png")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="photo_of_the_day">
			<hr class="photo line">
			<div class="line_photo">
				<p>Photo of the day</p>
			</div>
			</br>
			<div class="photo">
				<%= image_tag("home/Bitmap.png")%>
				<p class="photo_h">
					Defending The Throne
				</p>
				<p class="photo_txt">
					Los Angeles Lakes guard Derek Fisher, right, is pressured by the Denver Nuggets
					Nene during th efirst quarter of NBA exhibition action on Oct 16
					<i>Photo Courtesy MCT</i>
				</p>
			</div>
		</div>
		<div class="most">
			<div>
				<p class="most_h" class="line_most">MOST POPULAR</p>
				<p class="line_most_p"></p>
				<div class="most_popular">
					<div class="rect_in_rect_1">
						<div class="most_img">
							<%= image_tag("home/most_popular/most_p_1.png")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="rect_in_rect_1">
						<div class="most_img">
							<%= image_tag("home/most_popular/most_p_2.png")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="rect_in_rect_1">
						<div class="most_img">
							<%= image_tag("home/most_popular/most_p_3.png")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
				</div>
			</div>
			<div>
				<p class="most_h">MOST COMMENTED</p>
				<p class="line_most_c"></p>
				<div class="most_commented">
					<div class="rect_in_rect_1">
						<div class="most_img">
							<%= image_tag("home/most_commented/most_c_1.png")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="rect_in_rect_1">
						<div class="most_img">
							<%= image_tag("home/most_commented/most_c_2.png")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="rect_in_rect_1">
						<div class="most_img">
							<%= image_tag("home/most_commented/most_c_3.png")%>
						</div>
						<div class="rect_text_2">
							<p class="rect_h">Lorem ipsum </p>
							<p class="rect_txt">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</br>
<footer class="footer"> 
	<div class="hr-main-page"></div>
		<div class="uper-footer">
					
			<div class="up-foter-item-1">
				<%= link_to "COMPANY INFO","#",:id => "footer-info"%>
				<ul class="ul-info">
					<li class=" ul-items-footer"><%= link_to "About Sports Hub","#"%></li>
					<li class=" ul-items-footer"><%= link_to "News / In the Press","#"%></li>
					<li class=" ul-items-footer"><%= link_to "Advertising / Sports Blogger Ad Network","#"%></li>
					<li class=" ul-items-footer"><%= link_to "Events","#"%></li>
					<li ><%= link_to "Contact Us","#"%></li>
				</ul>
			</div>

			<div class="up-foter-item-2">
				<%= link_to "CONTRIBUTORS","#",:id => "footer-info"%>    
				<ul class="ul-info ul-items-footer">
					<li class=" ul-items-footer"><%= link_to "Featured Writers Program","#"%></li>
					<li class=" ul-items-footer"><%= link_to "Featured Team Writers Program","#"%></li>
					<li><%= link_to "Internship Program","#"%></li>
				</ul>
			</div>

			<div class="up-foter-item-3">
				<%= link_to "NEWSLETTER","#",:id => "footer-info"%>
				<ul class="ul-info">
					<li><%= link_to "Sign up to receive the latest sports news","#"%></li>

					<%= form_with do |f| %>
						<%= f.text_field :last_name ,autofocus: false, autocomplete: "last_name",:class=>"your-email-footer",
						:placeholder => "Your email address" %>
						<%= f.submit "Subscribe",:class=>"search-button-footer"%>
					<% end %>
					
				</ul>
			</div>
		</div>

		<div class= "lower-footer">
			<div class="Copyright">
				<span class="sporthubFooter">Sports Hub</span>
				<div>
				<span class="PrivacyTerms">Copyright ©2019 Sports Hub</span>
				<span class="PrivacyTerms">Privacy / Terms</span>
				</div>
			</div>
		</div>
</footer>