<%= render "home_page/navbar"%>

<div class="home_page">
		<!-- <header>
			
		</header>
		<div class="main_article">
			
		</div> -->
		<aside>
			<ul class="asside_nav">
				<li style="list-style: inherit">
					<a href="">HOME</a>
				</li>
				<li>
					<a href="">NBA</a>
				</li>
				<li>
					<a href="">NFL</a>
				</li>
				<li>
					<a href="">MLB</a>
				</li>
				<li>
					<a href="">NHL</a>
				</li>
				<li>
					<a href="">CBB</a>
				</li>
				<li>
					<a href="">CFB</a>
				</li>
				<li>
					<a href="">NASCAR</a>
				</li>
				<li>
					<a href="">GOLF</a>
				</li>
				<li>
					<a href="">SOCCER</a>
				</li>
				<li>
					<a href="">TEAM HUB</a>
				</li>
				<li>
					<a href="">LIFESTYLE</a>
				</li>
				<li>
					<a href="">DEALBOOK</a>
				</li>
				<li>
					<a href="">VIDEO</a>
				</li>
				<li>
					<a href="">MORE</a>
				</li>
			</ul>
			<div class="nav_follow">
				<p class="nav_p_follow">Follow</p>
				<div class="asside_nav_flex">
					<div class="asside_nav_img">
						<a href="">
							<%= image_tag("home/follow/facebook.png")%>
						</a>
					</div>
					<div class="asside_nav_img t_y_margin_left">
						<a href="">
							<%= image_tag("home/follow/twitter.png")%>
						</a>
					</div>
				</div>
				<div class="asside_nav_flex">
					<div class="asside_nav_img g_y_margin_top">
						<a href="">
							<%= image_tag("home/follow/google.png")%>
						</a>
					</div>
					<div class="asside_nav_img t_y_margin_left g_y_margin_top">
						<a href="">
							<%= image_tag("home/follow/youtube.png")%>
						</a>
					</div>
				</div>
			</div>
		</aside>

		<div class="sub_article">
			<div class="sub1">
				<div class="sub_img_1">
					<%= image_tag "/assets/images/home/sub/sub_1.png" %>
				</div>
				<div class="sub_text_1">
					<h3>Raiders release</h3>
					<p>After a five-year stint with the Oakland Raiders</p>
				</div>
			</div>
			<div class="sub2">
				<div class="sub_img_2"></div>
				<div class="sub_text_1">
					<h3>London Games</h3>
					<p>NFL London Games return in 2019!</p>
				</div>
			</div>
			<div class="sub3">
				<div class="sub_img_3"></div>
				<div class="sub_text_1">
					<h3>2019</h3>
					<p>2019 NFL free agency</p>
				</div>
			</div>
			<div class="sub4">
				<div class="sub_img_4"></div>
				<div class="sub_text_1">
					<h3>Lorem ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
			</div>
		</div>
		<div class="breakdown">
			<div class="line"></div>
			<div class="breakdown_rect_1">
				<div class="rect_img_1">
					  
				</div>
				<div class="rext_text_1">
					<h3>Lorem ipsum dolor sit amet, consectetur</h3>
				</div>
			</div>
			<div class="breakdown_rect_2">
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
			</div>
			<div class="breakdown_rect_3">
				<div class="rect_img_1">

				</div>
				<div class="rext_text_1">
					<h3>Lorem ipsum dolor sit amet, consectetur</h3>
				</div>
			</div>
			<div class="breakdown_rect_4">
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
			</div>
		</div>
		<div class="most">
			<div class="most_popular">
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
			</div>
			<div class="most_commented">
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="rect_in_rect_1">
					<div class="rect_img_2">

					</div>
					<div class="rect_text_2">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 
		<div class="photo_of_the_day">
			
		</div>
		</div>
		<footer>
			
		</footer> -->
	</div>