 
 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h2 class = "register-header"><% t "registration_page.create_account"%></h2>
   <h2 class="log-in-text">Log in to Sports Hub</h2>
     
     
    
    
    <ul class="Login-with">
<%= debug user_facebook_omniauth_authorize_path %>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />
  <% end %>
<% end %>


        <li><a href="" > <%= image_tag("for-register-images/facebook-register-icon.svg", :class=>"register-image")%></a></li>  
        <li><a href="" ><%= image_tag("for-register-images/gmail-register-icon.svg", :class=>"register-image")%></a></li>            
  </ul>  
    <%= link_to "Sign in with", 'http://localhost:3000/auth/auth/facebook', method: :post %><br />
    <%= f.label t("registration_page.use_email"), :class=>"enterEmail" %>
   
    <div class = "first-last-names-fields">
        <div >
        <%= f.label :first_name,:class => "login-text"%><br />
        <%= f.text_field :first_name ,autofocus: true, autocomplete: "first_name",:class=>"input-login", :placeholder => "John"%>
        </div>

        <div >
          <%= f.label :last_name,:class => "login-text"%><br />
          <%= f.text_field :last_name ,autofocus: true, autocomplete: "last_name",:class=>"input-login",:placeholder => "Doe"%>
        </div>
    </div>    

    <div class="field">
      <%= f.label :email,:class => "login-text"%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:class=>"input-login",:placeholder => "jonhdoe@gmail.com"%>
    </div>

    <div class="field">
      
      <%= f.label :password,:class => "login-text"%><br />
      <%= f.password_field :password, autocomplete: "new-password" ,:class=>"input-login",
      :placeholder => t("registration_page.fields.password_minimum_characters")%>
  
    </div>
    <%= f.submit t("registration_page.buttons_and_links.sign_up"),:class=>"login-buton" %>
  
<% end %>
  