<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

<%= render "shared" %>

<div class="cabinet-form" id="form-change-password">
  
    <%= form_with model: @user, method: :put do |form| %>
      
      <div class="form-group">
        <%= form.label :old_password, "OLD PASSWORD", :class => "login-text" %>
        <%= form.password_field :old_password, :class=>"input-login", maxlength: 40, placeholder: "Enter your old password here" %>
      </div>

      <div class="form-group">
        <%= form.label :password, "NEW PASSWORD", :class => "login-text" %>
        <div class="input-group">
          <%= form.password_field :password, :class=>"input-login", maxlength: 40, placeholder: "8+ characters(letters and numbers)" %>  
          <span class="bi bi-eye-slash input-group-text" id="togglePassword1">
        </div>
      </div>

      <div class="form-group" >
        <%= form.label :password_confirmation, "PASSWORD CONFIRMATION", :class => "login-text" %>
        <div class="input-group">
          <%= form.password_field :password_confirmation, :class=>"input-login", maxlength: 40, placeholder: "Enter new password again" %>
          <span class="bi bi-eye-slash input-group-text" id="togglePassword2"></span>
        </div>
      </div>
        <%= form.submit "CHANGE PASSWORD", :class=>"login-buton" %>
    <% end %>
</div>

<script>
  const togglePassword1 = document.querySelector('#togglePassword1');
  const password1 = document.querySelector('#password');
  togglePassword1.addEventListener('click', function () {
    const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
    password1.setAttribute('type', type);
    this.classList.toggle('bi-eye');  
});
    
  
  const togglePassword2 = document.querySelector('#togglePassword2');
  const password2 = document.querySelector('#password_confirmation');  
  togglePassword2.addEventListener('click', function  () {
    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
    password2.setAttribute('type', type);
    this.classList.toggle('bi-eye'); 
});

  const togglePassword3 = document.querySelector('#togglePassword3');
  const password3 = document.querySelector('#old_password');
  togglePassword3.addEventListener('click', function  () {
    const type = password3.getAttribute('type') === 'password' ? 'text' : 'password';
    password3.setAttribute('type', type);
    this.classList.toggle('bi-eye'); 
});

</script>