<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

<%= render "shared" %>

<div class="form-1 col-10 col-md-8 col-lg-10 form_change_password" >
  
    <%= form_with method: :put do |form| %>
      
      <div class="form-group">
        <%= form.label :old_password, "OLD PASSWORD", class: "cabinet_field_label" %>
        <%= form.password_field :old_password, class:"cabinet_field", maxlength: 40, placeholder: "Enter your old password here", required: "true" %>
      </div>

      <div class="form-group">
        <%= form.label :password, "NEW PASSWORD", class: "cabinet_field_label" %>
        <div class="input-group">
          <%= form.password_field :password, class:"form-control cabinet_field", maxlength: 40, placeholder: "8+ characters(letters and numbers)", required: "true" %>  
          <span class="bi bi-eye-slash input-group-text" id="togglePassword1">
        </div>
      </div>

      <div class="form-group" >
        <%= form.label :password_confirmation, "PASSWORD CONFIRMATION", class: "cabinet_field_label" %>
        <div class="input-group">
          <%= form.password_field :password_confirmation, class:"form-control cabinet_field", maxlength: 40, placeholder: "Enter new password again", required: "true" %>
          <span class="bi bi-eye-slash input-group-text" id="togglePassword2"></span>
        </div>
      </div>
        <%= form.submit "CHANGE PASSWORD", class: "form_submit" %>
    <% end %>
</div>

<script>
  const togglePassword1 = document.querySelector('#togglePassword1');
  const password1 = document.querySelector('#password');

  const togglePassword2 = document.querySelector('#togglePassword2');
  const password2 = document.querySelector('#password_confirmation');

  togglePassword1.addEventListener('click', function () {
    const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
    password1.setAttribute('type', type);
    this.classList.toggle('bi-eye');  
});
    
  togglePassword2.addEventListener('click', function  () {
    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
    password2.setAttribute('type', type);
    this.classList.toggle('bi-eye'); 
});

</script>