<div class="main-page-team">
  
  <div class="cabinet-form">
    <%= image_tag("teams/Map.png", class:"map-team")%>



  <%= simple_form_for @team, url: users_team_path, method: :put,class: "team-form" do |form| %>
    
   <div class="team-form">
    
      <div>
      
        <div class="form-group combobox-teams">
          <%= label_tag( nil,'SELECT LOCATION',class: "login-text")%>
         <%= collection_select(:team, :city_id, City.all,:id, :team_country, {:include_blank => 'All',class:"selector-team"}) %>
        </div>
      
        <div class="form-group combobox-teams">
          <%= label_tag( nil,'SELECT CATEGORY',class: "login-text")%>
          <%= collection_select(:teams, :subcategory ,Category.all, :id,:name, {:include_blank =>  @team.subcategory.category.name,class:"selector-team",id: 'team_subcategory'}) %>
        </div>  

        <div class="form-group combobox-teams " id="subcategories_select">
          <%= label_tag( nil,'SELECT SUBCATEGORY', class: "login-text") %>
           <%= form.collection_select  :subcategory_id, Subcategory.all, :id, :name , {:include_blank => 'All',class:"selector-team"} %>
        </div>


        <div class="form-group combobox-teams">
          <%= label_tag( nil,'TEAM NAME', class:  "login-text") %>
          <%= form.text_field :team_name,:class=>"input-login" %>
        </div>
      </div>

       <div class= "add-logo-team form-group">
      <%= image_tag("teams/photoAddTeam.svg")%>
      <label for="file-upload" class="custom-file-upload">
          <i class="fa fa-cloud-upload"></i> <span style="color: #D72130;">Add logo</span>  right here
      </label>  
      <%= form.file_field :image,:id=>"file-upload" %>
    </div>

     <div class="teams-all-buttons">
        
        <%= submit_tag( "Apply",:class=>"login-buton alert-button",id: "filter-team") %>   
        <%= link_to 'Cancel', '/users/teams/new', class: "cansel-team-button", method: :get %> 
      
      </div>   
      
    </div>
  </div>
  <% end %>
    <%= content_tag :table, role: :datatable, data: { url: users_teams_path(format: :json)},class: "table-scroll-team",id: "team-table" do %>
      <thead>
        <tr>
          <th scope="col">TEAMS</th>
          <th scope="col">LOCATION</th>
          <th scope="col">DATE ADDED</th>
          <th scope="col">CATEGORY</th>
          <th scope="col">SUBCATEGORY</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    <% end %>
  
</div>

<%= javascript_include_tag('datatables.js') %>

<script>
teamsCheck()



$('#team-table').each(function(){
      $(this).DataTable({
        processing: true,
        serverSide: true,
        searching: true,
        paging: false,
        info: false,
        columns: [
      {name: 'team_name'},
      {name: 'team_country_city' },
      {name: 'date_added' }  ,   
      {name: 'team_category' },
      {name: 'subcategory.name'},
      {name: 'links'}
    ],
        ajax: {
          "url": $(this).data('url'),
          "data": function (d) {
           
          }
        },

        "scrollY":        "334px",
          initComplete: function () {
            var table = $('#team-table').DataTable();

            $('#filter-team').on('click',function () {
              var country = $("#teams_city_id ").val();
              var category = $("#teams_subcategory ").val();
              var subcategory = $("#teams_subcategory_id").val();
              var team_name = $("#team_name").val()
              var query = [country,category,subcategory,team_name]
              table.search( query ).draw();                     
            })      
        }
      });
    }); 




// teams_city_id


</script>   