<div class="main-page-team">
  
  <div class="cabinet-form">
    <%= image_tag("teams/Map.png", class:"map-team")%>

    <div class="team-form">
    
      <div>
      
        <div class="form-group combobox-teams">
          <%= label_tag( nil,'SELECT LOCATION',class: "login-text")%>
          <%= collection_select(:team, :city_id, City.all,:id, :team_country, {:include_blank => 'All',class:"selector-team"}) %>
        </div>
      
        <div class="form-group combobox-teams">
          <%= label_tag( nil,'SELECT CATEGORY',class: "login-text")%>
          <%= collection_select(:team, :subcategory ,Category.all, :id,:name, {:include_blank => 'All',class:"selector-team",id: 'team_subcategory'}) %>
        </div>  

        <div class="form-group combobox-teams " id="subcategories_select">
          <%= label_tag( nil,'SELECT SUBCATEGORY', class: "login-text") %>
          <%= collection_select( :team,  :subcategory_id, Subcategory.all, :id, :name , {:include_blank => 'All',class:"selector-team"}) %>
        </div>


        <div class="form-group combo  box-teams">
          <%= label_tag( nil,'TEAM NAME', class: "login-text") %>
          <%= text_field_tag(:team_name,nil,class:"input-login") %>
        </div>
      </div>

      <div class="teams-all-buttons">
        
        <%= submit_tag( "Apply",:class=>"login-buton alert-button",id: "filter-team") %>   
        <%= link_to 'Cancel', '/users/teams', class: "cansel-team-button", method: :get %> 
      
      </div>  
      
    </div>
   
  </div>

  <%= content_tag :table, role: :datatable, data: { url: users_teams_path(format: :json)},class: "table-scroll-team",id: "team-table" do %>
    <thead>
      <tr>
        <th scope="col">TEAMS</th>
        <th scope="col">LOCATION</th>
        <th scope="col">DATE ADDED</th>
        <th scope="col">CATEGORY</th>
        <th scope="col">SUBCATEGORY</th>
        <th></th>
      
      </tr>
    </thead>
    <tbody></tbody>
  <% end %>

<%= javascript_include_tag('datatables.js') %>

<script>
teamsCheck()
tableTeam()

var Confirm = {
    open (options) {
        options = Object.assign({}, {
            title: '',
            message: '',
            okText: 'OK',
            cancelText: 'Cancel',
            onok: function () {console.log("delete")},
            oncancel: function () {console.log("cansel")}
        }, options);

    const html = `
         <div class="alert-warning">
                <%= image_tag("teams/youWontDelete.svg")%>
                <p class="warning-text"><span>You are about to delete this team!</span>Are you sure?</p>
                <div class="warning-buttons">
                    <a style ='cursor: pointer;' id = warning-cansel>Cancel</a>
                    <a style ='cursor: pointer;' id = warning-delete>Delete</a>
                </div>
    `;

    const template = document.createElement('template')
    
    template.innerHTML = html;

    //Elements
    const confirmEl  = template.content.querySelector('.alert-warning');
    const bntNo      = template.content.querySelector('#warning-cansel');
    const bntYes     = template.content.querySelector('#warning-delete');


    confirmEl.addEventListener('click', e => {
            if (e.target === confirmEl) {
                options.oncancel();
                this._close(confirmEl);
            }
        });

        
    bntYes.addEventListener('click', () => {
            options.onok();
            this._close(confirmEl);
        });

    bntNo.addEventListener('click', () => {
                options.oncancel();
                this._close(confirmEl);
            });
    let main_page = document.body.getElementsByClassName("main-page-team")[0];
    
    main_page.appendChild(template.content);
  },

  _close(confirmEl){
    confirmEl.classList.add('confirm--close');

        confirmEl.addEventListener('animationend', () => {

            let main_page = document.body.getElementsByClassName("main-page-team")[0];
            main_page.removeChild(confirmEl);
        });
  }
} 

deleteTeam = (id) =>
{
     Confirm.open({
     
      onok: () => {
            let form = document.createElement("form");
            form.method = "POST";
            form.action = `/users/teams/${id}`;
            form.style = "display: none;";
            let methodInput = document.createElement("input");
            methodInput.value = "DELETE";
            methodInput.name = "_method]";
            form.appendChild(methodInput);
            document.body.appendChild(form);
            form.submit();         
      }
     })
}
</script>   