<div class="cabinet-form">

<div class= "map-team">
    <%= image_tag("teams/Map.png")%>
</div>

<div class ="team-form">
<%= simple_form_for @team, url: users_teams_path, method: :post do |form| %>
  
  <div class="form-group combobox-teams">
    <%= form.label :select_location,class: "login-text"%>
     <div class="selector-team"> <%= collection_select(:team, :city_id, City.all,:id, :team_country) %></div>
   
  </div>
  
    <div class="form-group combobox-teams">
    <%= form.label :select_category,class: "login-text"%>
    <div class="selector-team"> <%= form.collection_select :id, Category.all, :id, :name, id: "category_id" %></div>
   
  </div>
  <div class="form-group combobox-teams " id="subcategories_select">
    <%= form.label :select_subcategory,class: "login-text"%>
    <div class="selector-team"> <%= form.collection_select  :subcategory_id, Subcategory.all, :id, :name  %></div>
    
  </div>


  <div class="form-group combobox-teams">
    <%= form.label :team_name, class: "login-text" %>
    <%= form.text_field :team_name,:class=>"input-login" %>
  </div>

  <div class= "add-logo-team form-group">

   <%= image_tag("teams/photoAddTeam.svg")%>
  <label for="file-upload" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> <span style="color: #D72130;">Add logo</span>  right here
    </label>
     
      <%= form.file_field  multiple: true, direct_upload: true,:id=>"file-upload" %>
  </div>

  <div class="combobox-teams">
    <%= form.submit "Add to list",:class=>"login-buton"%>
    
  </div>

  <div>
    <%= link_to 'Cancel', '/users/teams/new', class: "cansel-team-button", method: :get %> 
  </div>


<% end %>

<script>team.s()</script>

</div>