<% if !NewsPartner.first %>

    <div class="news_partners_empty">
        <%= image_tag("news_partners/warning-grey.png", size: "120")%>
        <p id="news_partners_empty_info">News Partners page is empty!</p>
        <p id="news_partners_empty_prop">You can add New Partners here and manage them.</p>
    </div>

<% else %>

    <div id="wrapper">
    <div class="container_news_partners_table">
        <table class="news_partners_table">
            <thead>
                <tr id="news_partners_table_header">
                    <th>NEWS PARTNERS NAME</th>
                    <th>STATUS<%= image_tag("news_partners/filter.png", size: "20", class: "news_partners_sort_icon")%></th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
        </table>


    <% NewsPartner.all.size.times do |i| %>
    <% news_partner = NewsPartner.find(i+1) %>
        <table class="news_partners_table">
            <tbody>
                <div class="news_partners_table_row">
                    <tr class="news_partners_table_data"> 

                        <td class="news_partners_table_title">
                            <span class="bi bi-plus", onclick="show_hide_row('hidden_row');"></span><%= news_partner.title %>
                        </td>

                        <td class="news_partners_status_form">
                            <%= form_with model: @news_partner, method: :patch do |form|%>
                                <div class="form-check form-switch">                        
                                    <%= form.check_box :news_partners_status_change, class:"form-check-input" %>
                                    <%= news_partner.active ? "Active" : "Inactive" %>
                                </div>
                                <%= form.submit "Submit", :style=>"display:none;" %>
                            <%end%>
                        </td>

                        <td class="news_partners_table_actions">
                            <%= image_tag("news_partners/pencil.png", size: "20", class: "news_partners_edit_icon")%>
                            <%= image_tag("news_partners/delete.png", size: "20", class: "news_partners_delete_icon")%>
                        </td>

                    </tr>
                </div>
                    <!-- %= j = "hidden_row" << (i+1).to_s% -->
                    <tr id="hidden_row", class="hidden_row" >
                    <td>
                        <%= render "form_for_edit_news_partners" %>
                    </td>
                    </tr>
            </tbody>
        </table>
    <% end %>
    </div>
    </div>
<% end %>

<script>
    function show_hide_row(row) {
        $("#"+row).toggle();
    }
</script>