<div class="news_partners_edit_form">

<%= form_with model: @news_partner, method: :put do |form| %>
        
    <%= form.text_field :id, value: news_partner.id, type:"hidden"%>
    
    <div class="row">
        <div class="form-group text_input col">
            <%= form.label :api_key, "API KEY"%>
            <%= form.text_field :api_key, class: "input-login", value: news_partner.api_key %>
        </div>

        <div class="form-group text_input col">
            <%= form.label :default_sources, "DEFAULT SOURCES" %>
            <%= form.text_field :default_sources, class: "input-login", value: news_partner.default_sources %>
        </div>
        
        <br>

        <div class="form-group categories_table">
            <table>
                <thead>
                    <tr>
                        <th>
                        <input type="checkbox" class="disabled_checkbox" disabled>
                        CATEGORY
                        </th>
                        <th>SOURCES</th>
                    </tr>
                </thead>
                <tbody>
                    <% Category.all.each do |category| %>
                    <tr>
                        <td class="categories_table_check_boxes">
                            <%= form.check_box :check %>
                            <%= form.label :check, category.name%>
                        </td>
                        <td>bbc</td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>


        <div class="form-group buttons">
            <%= link_to (button_tag "Cancel", type: "button", class: "login-buton cancel"), "/news_partners" %>
            <%= form.submit "Save", class: "login-buton" %>
        </div>


<% end %>

</div>

<script>

    function edit_row(row_id) {
        event.preventDefault();
        let form = document.createElement("form");
        form.method = "PUT";   
        form.action = `/news_partners/edit/${row_id}`;
        form.style = "display: none;";
        let methodInput = document.createElement("input");
        methodInput.value = "update";
        methodInput.name = "_method]    ";
        form.appendChild(methodInput);
        document.body.appendChild(form);
        form.submit(); 
    }
});
</script>