<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <%= render "users/articles/admin_navbar"%>
    <div class="container-btw-header-title">
      <div class="container-logo-news">
        <h2 id="current-menu-item-news">News Partners</h2>
      </div>
      <button class="btn-new-post btn-new-partner">
        <%= link_to " + Add New Partner", "new", class: "news_partners_index_link" %>
       </button>
    </div>
    <div class="container-navbar">
      <nav>
        <div class="container-left-icon-btn">
          <button class="btn-new-post iconed icon-arrow-left"></button>
        </div>

        <!-- it may be button or link. -->
        <!-- depends on  -->

        <div class="container-opts">
          <span class="nav-opt">home</span>
          <span class="nav-opt">nba</span>
          <span class="nav-opt">nfl</span>
          <span class="nav-opt">mlb</span>
          <span class="nav-opt">nhl</span>
          <span class="nav-opt">cbb</span>
          <span class="nav-opt">cfb</span>
          <span class="nav-opt">nascar</span>
          <span class="nav-opt">golf</span>
          <span class="nav-opt">video</span>
          <span class="nav-opt">lifestyle</span>
          <span class="nav-opt">dealbook</span>
        </div>

        <button class="btn-new-post iconed icon-arrow-right"></button>
      </nav>
    </div>
    <div class="main-page">
      <div class="container-left-icons">
        <button class="btn-new-post iconed surveys"></button>
        <button class="btn-new-post iconed banners"></button>
        <button class="btn-new-post iconed languages"></button>
        <button class="btn-new-post iconed footer"></button>
        <button class="btn-new-post iconed social-networks"></button>
        <button class="btn-new-post iconed users"></button>
        <button class="btn-new-post iconed ia"></button>
        <button class="btn-new-post iconed new-partners"></button>
        <button class="btn-new-post iconed advertising"></button>
      </div>
      <div class="container-main-content">
        <%= render "form_for_new_news_partner"%>
      </div>

    <div class="news_partners_delete_tab">
        <%= image_tag("news_partners/red-delete.png", class: "news_partners_delete_tab_icon") %>
        <h1>You are about to delete this News Partner!</h1>
        <p class="mb-0">This partner will be deleted from News Partner list!</p>
        <p>Are you sure?</p>

         <%= form_with model: @news_partner, method: :post do |form| %>

            <div class="form-group buttons">
              <%= link_to (button_tag "Cancel", type: "button", class: "login-buton cancel"), news_partners_path %>
              <%= form.submit "Delete", class:"login-buton" %>
            </div>

        <% end %>
    </div>
      
    </div>
  </body>

</html>


